---
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
---

<Layout title="Clon de Shopee">
	

	<div class="grid grid-cols-9 grid-rows-7 gap-2 row-2">
		<div class="bg-green-700 text-white col-span-2 row-span-2  min-h-40">Caja1</div>
		<div class="bg-green-700 text-white col-span-3 row-span-7 min-h-40">Caja2</div>
		<div class="bg-green-700 text-white col-span-4 row-span-4 min-h-40">Caja3</div>
		<div class="bg-green-700 text-white col-span-2 row-span-5 min-h-40">Caja4</div>
		<div class="bg-green-700 text-white col-span-4 row-span-3 min-h-40">Caja5</div>

	</div>
</Layout>

<style>
	
</style>
