---
interface Props {
	title: string;
}
import { Icon } from 'astro-icon/components';

const { title } = Astro.props;
const products = [
	{
		icon:"",
		name: "Producto 1"
	},
	{
		icon:"",
		name: "Producto 2"
	},
	{
		icon:"",
		name: "Producto 3"
	}
]
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-800">
			<div class="flex items-center justify-center">
				<img src="/public/aliexpress_logo2.png" class="h-16" />
					

				<div class="relative w-[50%]">
					<input placeholder="Buscar..." class="h-9 rounded-full pl-5 outline-none pr-14 w-full" >
					<div class="bg-zinc-800 right-1 top-[2px] absolute inline-block text-white rounded-xl py-1 px-2">
						<Icon name="mdi:search" class="size-6"/>
					</div>
				</div>
				<div class="relative leading-5">
					<div class="flex pl-8">
						<Icon name="mdi:qrcode" class="text-white size-8 mt-2"/>
						<p class="text-white text-[12px] pt-1 w-[100px]">Descarga la app de Aliexpress</p>
					</div>
					
					
					
				</div>
				<div class="flex pl-8">
						<Icon name="flagpack:co" class="text-white size-7 mt-2"/>
						<p class="text-white text-[12px] pt-1 ml-2 w-[40px]">ES/ <b>COP</b> ▼</p>
					</div>


					<a class="h-7 group flex relative rounded-full px-4 text-white w-66 mr-6 pb-10"  href="#" >
						<Icon name="mdi:user-outline" class="text-white size-9 mt-2"/>
						<p class="text-white text-[12px] pt-1 ml-2 w-[160px]">¡Bienvenido <br><b>Identifícate / Regístrate </b>▼</p>
						<menu class="hidden group-hover:block left-0 top-7 w-36 absolute bg-zinc-800">
							<ul>
								<li>opcion 1</li>
								<li>opcion 2</li>
								<li>opcion 3</li>
				
							</ul>
						</menu>
					</a>
					<div class="flex pl-8">
						</div>
			</div>
		</div>
		<div class="bg-zinc-800">
			<div class="flex items-center justify-center p-3">
				<div class="items-center">
					<a class="h-10 group flex relative text-lg rounded-full text-center p-1 px-8 text-white w-100 mr-6 bg-zinc-600 items-center" href="#" >
					<Icon name="mdi:menu" class="text-white size-6 mr-2"/>
					Todas las categorías ▼
						<menu class="hidden group-hover:block left-0 top-7 w-36 absolute bg-zinc-50 text-black">
							<ul>
								<li>opcion 1</li>
								<li>opcion 2</li>
								<li>opcion 3</li>
				
							</ul>
						</menu>
					</a>
				</div>
				<nav class="flex gap-1 text-white">
					<a href="" class="px-5 py-2">NN</a>
					<a href="" class="px-5 py-2">Superventas</a>
					<a href="#" class="px-5 py-2">Mejores Marcas</a>
					<a href="#" class="px-5 py-2"> Hogar y jardin</a>
					<a href="#" class="px-5 py-2">Cabello y pelucas</a>
					<a href="#" class="px-5 py-2">Moda hombre</a>
					<a href="#" class="px-5 py-2">Accesorios</a>
					<a href="#" class="px-5 py-2">Electrónica</a>
					<a href="#" class="px-5 py-2">Hogar e iluminación</a>
					<a class="px-5 py-2 group flex relative rounded-full text-center text-white items-center" href="#" >
						Más ▼
						<menu class="hidden group-hover:block left-0 top-7 w-36 absolute bg-zinc-50 text-black">
							<ul>
								<li>opcion 1</li>
								<li>opcion 2</li>
								<li>opcion 3</li>
				
							</ul>
						</menu>
					</a>
				</nav>
			</div>
		</div>
		<slot />
		
		<!-- <nav class="container main_menu">
			<a href="/">Inicio</a> 
			<a href="productos">Productos</a>
		</nav>
		<div class="container product_list">
			{
				products.map((product) => <div class="">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 2C7.51 2 4 4.2 4 7v10c0 2.8 3.51 5 8 5s8-2.2 8-5V7c0-2.8-3.51-5-8-5zm0 18c-3.54 0-6-1.58-6-3v-6.67A10.52 10.52 0 0 0 12 12a10.52 10.52 0 0 0 6-1.67V17c0 1.42-2.46 3-6 3zm0-10c-3.54 0-6-1.58-6-3s2.46-3 6-3 6 1.58 6 3-2.46 3-6 3z"></path><ellipse cx="12" cy="7" rx="3" ry="1.71"></ellipse></svg>
				 {product.name}
			</div>)
			}
		</div>
		<div class="container categories">
			Categorías
		</div>
		<div class="container">
			
		</div>
		<div class="container footer">
			ESTE ES EL FOOTER
		</div>-->

		
	</body>
</html>
<style is:global>
	
	.banner{
		height: 240px;
	}
	.main_menu{
		display: flex;
		height: 40px;
		background-color:#d58936;
		
		
	}
	.main_menu a{
		align-items: center;
		height: 100%;
		display: flex;
		padding: 0 12px;
		color: white;
		text-decoration: none;
		transition: background 300ms ease-in-out;
		
	}
	.main_menu a:hover{
		background-color: #b97327;
	}
	.product_list{
		display: flex;
		height: 100px;
		margin-top: 8px;
	}
	.product_list div{
		height: 100%;
		display: flex;
		max-width: 120px;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid gray;
		border-radius: 4px;
		margin-right: 3px;
	}
	.footer{
		height: 80px;
	}
	
	html,body {
		margin:0;
		padding: 0;
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	nav a:hover{
		background-color: rgb(90, 90, 90);
		border-radius: 20px;
	}
</style>
